<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item button routerLink="/home" routerDirection="root">
              <ion-icon name="home" slot="start"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>
          
          <ion-menu-toggle auto-hide="false">
            <ion-item button routerLink="/generate-password" routerDirection="root">
              <ion-icon name="key" slot="start"></ion-icon>
              <ion-label>Gerar Senha</ion-label>
            </ion-item>
          </ion-menu-toggle>
          
          <ion-menu-toggle auto-hide="false">
            <ion-item button routerLink="/password-list" routerDirection="root">
              <ion-icon name="list" slot="start"></ion-icon>
              <ion-label>Senhas Salvas</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
